@page "{recipeId:int}"

@model Portfolio.Pages.Food.DeleteModel
@{
    ViewData["Title"] = "Delete";

}


<div class="mt-3">
    <h2>Delete!</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.Recipe.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="./Recipes" class="btn btn-success">Cancel</a>
    </form>
</div>
