
.image-top-index {
    background-image: url(../image/index/SampleBgArch.jpg);
    height: 500px;
}

.image-music-index {
    background-image: url(../image/index/MusicStudio.jpg);
    height: 700px;
    margin-top: 20px;
}

.image-food-index {
    background-image: url(../image/index/Cooking.jpg);
    background-position-y: 100%;
    height: 700px;
    margin-top: 20px;
}

.image-covid-index {
    background-image: url(../image/index/Covid-19.jpg);
    height: 700px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.image-profile-index {
    background-image: url(../image/profilepic.jpg);
    background-position-y: 50%;
    height: 800px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.layer {
    background-color: rgba(34, 34, 39, 0.80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#welcome {
    margin-top: 170px;
    color: ghostwhite;
}

.white-space-row {
    margin-top: 200px;
    margin-bottom: 200px;
}

.vcenter-item {
    display: flex;
    align-items: center;
}
