@page
@{
    ViewData["Title"] = "NotFound";
}

<div class="mt-3">
    <h2>The Country you were looking for could not be found</h2>
    <a asp-page="./List" class="btn btn-primary">Back to Countries</a>
</div>