@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="full-width image-top-index">
    <div class="layer">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-3" id="welcome">WELCOME TO QUAVERFLOW</h1>
            </div>
        </div>
    </div>
</div>

<div class="row text-center mt-5">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <p class="lead text-dark white-space-row">
            THIS WEBSITE OFFERS THREE SEPARATE, AUTONOMOUS AREAS: FOOD, MUSIC, CORONAVIRUS.<br />
            THIS PROJECT USES THE FOLLOWING TECHNOLOGIES: <b>ASP.NET, RAZOR PAGES, C#, ENTITY FRAMEWORK CORE, JQUERY AND GOOGLE CHARTS.</b><br />
            ALL THE INPUTS ON THE WEBSITE HAVE BEEN HTML ENCODED FOR SECURITY.
        </p>
    </div>
</div>

<div class="image-profile-index full-width">
    <div class="layer  vcenter-item">

        <div class="row text-center text-light">
            <div class="col-md-12 text-light">
                <h2 class="display-4">MIRKO SANGRIGOLI</h2>
            </div>
            <div class="col-md-12 text-light">
                <h4>COMPOSER, GUITARIST, SINGER AND ASPIRING .NET DEVELOPER</h4>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <p class="lead">
                    <br />
                    IN MY CAREER AS A MUSICIAN I HAD THE CHANCE TO WORK IN MANY DIFFERENT ENVIRONMENTS, FROM WORKING WITH LARGE TEAMS WHEN WRITING MUSIC FOR FILMS TO COMPLETELY INDEPENDENT PROJECTS.<br />
                    I WORKED AS A SOUNDTRACK COMPOSER, SOUND DESIGNER, SESSION GUITARIST, SESSION SINGER, ARRANGER AND SONGWRITER.<br />
                    I RECENTLY HAD THE PLEASURE AND HONOR TO WORK SIDE BY SIDE WITH ONE OF THE PROGRESSIVE ROCK MUSIC ICONS <b>CLIVE NOLAN</b> ON ONE OF HIS PROJECTS (AS BACKING VOCALIST) AND ON MY VERY
                    OWN UPCOMING ALBUM <b>CATATONIC CRIMES</b>.<br />
                    <br />
                    I ALWAYS HAD A CURIOSITY TOWARDS CODING AND, IN THE PAST COUPLE OF YEARS, I STARTED THINKING ABOUT BECOMING A BACKEND DEVELOPER. SINCE LAST YEAR I STARTED STUDYING VARIOUS LANGUAGES
                    (C#, ENTITY FRAMEWORK CORE, ASP.NET, JQUERY, CSS, HTML AND JAVASCRIPT) AND EVERYDAY I TRY TO IMPROVE MY SKILLS AND DEEPEN MY KNOWLEDGE OF THE .NET FRAMEWORK AND OTHER TECHNOLOGIES.



                </p>
            </div>
        </div>
    </div>
</div>

    <hr class="muted" />

    <div class="row text-center white-space-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2 class="display-4">MUSIC TOOLS</h2>
        </div>
    </div>
    <div class="image-music-index full-width">
        <a href="./MusicScales/List">
            <div class="layer  vcenter-item">
                <div class="row text-center text-light">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            THIS AREA CONTAINS A LIST OF MUSIC SCALES. EACH SCALE HAS ITS OWN SET OF MODES THAT CAN BE VIEWED BY CLICKING ON THE 'DETAILS' BUTTON.<br />
                            THERE IS ALSO A HANDY SCALES CALCULATOR THAT ALLOWS THE USER TO INPUT A CHORD AND SEE WHAT SCALES CAN BE PLAYED ON IT.
                            THE CHOICE IS LIMITED TO 18 ROOTS (AS THOSE ARE THE ONES THAT YOU WILL ENCOUNTER IN THE VAST MAJORITY OF MUSIC) BUT IT COULD THEORETICALLY WORK ON ANY ROOT.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="row text-center white-space-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2 class="display-4">FOOD AND RECIPES</h2>
        </div>
    </div>
    <div class="image-food-index full-width">
        <a href="./Food/Ingredients">
            <div class="layer  vcenter-item">
                <div class="row text-center text-light">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            HERE YOU CAN FIND A LIST OF OVER 800 DIFFERENT INGREDIENTS, MOST OF THEM INCLUDING PICTURE AND DESCRIPTION. <br />
                            WITH THE TOOLS PRESENTED IN THIS AREA YOU CAN ADD YOUR OWN INGREDIENTS TO THE DATABASE, BROWSE OR CREATE NEW RECIPES OR SIMPLY LOOK UP MORE INFORMATION
                            ABOUT AN INGREDIENT YOU'RE CURIOUS ABOUT.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="row text-center white-space-row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2 class="display-4">COVID-19 STATISTICS</h2>
        </div>
    </div>
    <div class="image-covid-index full-width">
        <a href="./Covid/InternationalStatistics">
            <div class="layer  vcenter-item">
                <div class="row text-center text-light">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            THIS AREA IS FOCUSED ON STATISTICS AND GRAPHS. IT CONTAINS A LIST OF ALMOST ALL OF THE COUNTRIES IN THE WORLD WITH RELATIVE STATISTICS.
                            IN THE 'INTERNATIONAL STATISTICS' PAGE YOU'LL FIND VARIOUS GRAPHS SHOWING DIFFERENT ANALYISIS, I.E. RATIO COVID-19 DEATH AND LIFE EXPECTANCY.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>

